<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J79T2XS0YK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J79T2XS0YK');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Palette Generator</title>

    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <form id="form">
      <input type="text" name="query" placeholder="Express Your Imagination">
      <button type="submit" class="submit-btn">Generate</button>
      <p class="error-text"></p>
    </form>

    <div class="container"></div>

    <script src="app.js"></script>
  </body>
</html>